doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
            body {
                position: absolute;
                left: 500px;
                top: 100px;
                bottom: 300px;
                font-family: Verdana;
                font-size: 18px;
                background: #00FF00;
            }
            
  body

  
    block content