extends drawerLayout


block content
  a(href="/") Atgal
  h1 #{title} 
  body
   p.author Šios šiltnamio priežiūros sistemos programinės įrangos 
     | kūrėjas yra Mindaugas Kaučikas. Be kūrėjo sutikimo 
     | platinti programinę įrangą, įskaitant ir programinę įrangą, 
     | skirtą techninei įrangai, draudžiama.