extends indexLayout

block content
  .mdl-grid 
    .mdl-cell.mdl-cell--12-col 

      form(action="/logoutc",method="post")
         input(type="submit",value="Atsijungti")
        
         h1= title
          body
           br
           br
           br
           br
           br
           br
           br
           br
           br
           br
           br
           