footer.mdl-mini-footer
  .mdl-mini-footer__left-section
    .mdl-logo Šiltnamio priežiūros sistema
    ul.mdl-mini-footer__link-list
      li
        | &copy;&nbsp;
        a(href='/indexAuthorC') Programinės įrangos kūrėjas 2023