doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
            body {
                font-family: Verdana;
                font-size: 13px;
                background: #00FF00;
            }
  body

  
    block content