extends formLayout

block heading
  h2.center= title

block content
  br
  form.form-horizontal.col-md-5.col-md-offset-4(action="/sendPasswordLinkc", method="post", onSubmit="return saveFields();")
    <p> Slaptažodžio keitimo nuoroda bus nusiųsta nurodytu elektroninio pašto adresu</p>
    <p style="color:Tomato;">#{emailErr} #{emailFormatErr} #{unknownEmailErr}</p>
    label(for="email") Elektroninis paštas
    br
    input(type="text",name="email", id="emailId")
    br
    input(type="submit",value="Siųsti")

    script.
          document.getElementById("emailId").value = localStorage.getItem("emailKey");

            function saveFields() {
               
               var keyEmailValue  = document.getElementById("emailId").value;
               localStorage.setItem("emailKey", keyEmailValue);
    
               location.reload();
               return true;
            }